Source: anyio
Maintainer: Matthias Urlichs <matthias@urlichs.de>
Section: python
Priority: optional
Build-Depends: dh-python, python3-setuptools, python3-all, debhelper (>= 9),
  python3-typing-extensions (>= 4.12),
  python3-setuptools-scm (>> 3),
  python3-idna (>= 2.8),
  python3-pytest-mock (>= 3),
  python3-pytest (>= 7),
  python3-trio (>= 0.26.1),
Standards-Version: 3.9.6

Package: python3-anyio
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends},
  python3-typing-extensions (>= 4.12),
  python3-sniffio (>= 1.1),
  python3-idna (>= 2.8),
Recommends: python3-trio (>= 0.24),
Conflicts: python3-trio (< 0.24),
Description: High level compatibility layer for multiple asynchronous eve
 AnyIO is a asynchronous compatibility API that allows applications and
 libraries written against it to run unmodified on asyncio, curio and trio.
 .
 It bridges the following functionality:
 .
 * Task groups
 * Cancellation
 * Threads
 * Signal handling
 * Asynchronous file I/O
 * Synchronization primitives (locks, conditions, events, semaphores, queues)
 * High level networking (TCP, UDP and UNIX sockets)
